In [2]:
import pandas as pd
import numpy as np

In [ ]:
#df = pd.read_parquet("C:\\Users\hp\Desktop\DS-ML\yellow_tripdata_2019-01.parquet")

In [ ]:
#df.to_pickle('C:\\Users\hp\pickled_parquet_1.pkl')

In [3]:
df = pd.read_pickle('C:\\Users\hp\pickled_parquet_1.pkl')

In [63]:
list(df)

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'airport_fee',
 'duration']

In [12]:
df.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
count,7.696617e+06,7.667945e+06,7.696617e+06,7.667945e+06,7.696617e+06,7.696617e+06,7.696617e+06,7.696617e+06,7.696617e+06,7.696617e+06,7.696617e+06,7.696617e+06,7.696617e+06,7.696617e+06,2.811730e+06,0.0,7.696617e+06
mean,1.638174e+00,1.567032e+00,2.830146e+00,1.058371e+00,1.654005e+02,1.636289e+02,1.286947e+00,1.252968e+01,3.374054e-01,4.964963e-01,1.820830e+00,3.229543e-01,2.993410e-01,1.581065e+01,3.289790e-05,NaN,9.930649e+02
std,5.393984e-01,1.224420e+00,3.774548e+00,6.780839e-01,6.643992e+01,7.040929e+01,4.789416e-01,2.615897e+02,5.313564e-01,5.492382e-02,2.499463e+00,2.029812e+00,1.907704e-02,2.618117e+02,9.068830e-03,NaN,4.900524e+03
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-3.620000e+02,-6.000000e+01,-5.000000e-01,-6.350000e+01,-7.000000e+01,-3.000000e-01,-3.628000e+02,0.000000e+00,NaN,-5.056830e+06
25%,1.000000e+00,1.000000e+00,9.000000e-01,1.000000e+00,1.270000e+02,1.130000e+02,1.000000e+00,6.000000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.300000e+00,0.000000e+00,NaN,3.660000e+02
50%,2.000000e+00,1.000000e+00,1.530000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,0.000000e+00,5.000000e-01,1.400000e+00,0.000000e+00,3.000000e-01,1.130000e+01,0.000000e+00,NaN,6.110000e+02
75%,2.000000e+00,2.000000e+00,2.830000e+00,1.000000e+00,2.340000e+02,2.340000e+02,2.000000e+00,1.350000e+01,5.000000e-01,5.000000e-01,2.320000e+00,0.000000e+00,3.000000e-01,1.660000e+01,0.000000e+00,NaN,9.990000e+02
max,5.000000e+00,9.000000e+00,8.318000e+02,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,6.232599e+05,5.353800e+02,6.080000e+01,7.872500e+02,3.288000e+03,6.000000e-01,6.232617e+05,2.500000e+00,NaN,2.618881e+06

In [64]:
df['duration'] = (df['tpep_dropoff_datetime']-df['tpep_pickup_datetime']).dt.total_seconds()

In [65]:
df['PU_day'] = df.tpep_pickup_datetime.dt.day_name()
df['DO_day'] = df.tpep_dropoff_datetime.dt.day_name()

In [66]:
df1 = df.drop(df[((df.PULocationID>263) | (df.PULocationID<1) | (df.DOLocationID>263) | (df.DOLocationID<1) | (df.tpep_pickup_datetime.dt.year!=2019) | (df.trip_distance==0) | (df.fare_amount<=0) | (df.total_amount<=0) | (df.duration<0))].index)

In [67]:
df1.passenger_count = df1.passenger_count.fillna(1)

In [68]:
df1.loc[(df1.payment_type == 3),['payment_type', 'fare_amount']]

         payment_type  fare_amount
176                 3          4.0
214                 3          8.0
371                 3          5.0
389                 3          7.0
475                 3         42.5
...               ...          ...
7666490             3          5.0
7666891             3          4.5
7666995             3          2.5
7667324             3         10.5
7667867             3          2.5

[22815 rows x 2 columns]

In [32]:
df1.PU_day.value_counts()

Thursday     1316531
Wednesday    1228477
Tuesday      1173198
Friday       1056131
Saturday      981165
Monday        877790
Sunday        835154
Name: PU_day, dtype: int64

In [61]:
any((df.duration<0))

True