In [2]:
import pandas as pd
import numpy as np

In [ ]:
#df = pd.read_parquet("C:\\Users\hp\Desktop\DS-ML\yellow_tripdata_2019-01.parquet")

In [ ]:
#df.to_pickle('pickled_parquet_1.pkl')

In [60]:
df = pd.read_pickle('pickled_parquet_1.pkl')

In [44]:
list(df)

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'airport_fee',
 'duration']

In [65]:
df = df[(df['tpep_pickup_datetime'].dt.year)==2019]

In [63]:
df['duration'] = (df['tpep_dropoff_datetime']-df['tpep_pickup_datetime']).dt.total_seconds()

In [92]:
df.drop(df[((df['PULocationID']>263) | (df['PULocationID']<1))].index)
df.drop(df[((df['DOLocationID']>263) | (df['DOLocationID']<1))].index)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1.0,1.50,1.0,N,151,239,1,7.00,0.50,0.5,1.65,0.00,0.3,9.95,NaN,NaN,400.0
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1.0,2.60,1.0,N,239,246,1,14.00,0.50,0.5,1.00,0.00,0.3,16.30,NaN,NaN,1152.0
7,1,2019-01-01 00:21:28,2019-01-01 00:28:37,1.0,1.30,1.0,N,163,229,1,6.50,0.50,0.5,1.25,0.00,0.3,9.05,NaN,NaN,429.0
8,1,2019-01-01 00:32:01,2019-01-01 00:45:39,1.0,3.70,1.0,N,229,7,1,13.50,0.50,0.5,3.70,0.00,0.3,18.50,NaN,NaN,818.0
9,1,2019-01-01 00:57:32,2019-01-01 01:09:32,2.0,2.10,1.0,N,141,234,1,10.00,0.50,0.5,1.70,0.00,0.3,13.00,NaN,NaN,720.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7696611,2,2019-01-31 23:14:00,2019-01-31 23:29:00,NaN,5.45,NaN,None,41,136,0,28.95,2.75,0.5,0.00,0.00,0.3,32.50,NaN,NaN,900.0
7696612,2,2019-01-31 23:37:20,2019-02-01 00:10:43,NaN,10.24,NaN,None,142,95,0,0.00,2.75,0.0,0.00,5.76,0.3,0.00,NaN,NaN,2003.0
7696613,2,2019-01-31 23:28:00,2019-01-31 23:50:50,NaN,12.43,NaN,None,48,213,0,48.80,5.50,0.0,0.00,0.00,0.3,54.60,NaN,NaN,1370.0
7696614,2,2019-01-31 23:11:00,2019-01-31 23:46:00,NaN,9.14,NaN,None,159,246,0,51.05,2.75,0.5,0.00,0.00,0.3,54.60,NaN,NaN,2100.0
7696616,2,2019-01-31 23:41:03,2019-02-01 00:19:16,NaN,12.30,NaN,None,237,197,0,0.00,2.75,0.0,0.00,0.00,0.3,0.00,NaN,NaN,2293.0

In [93]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1.0,1.50,1.0,N,151,239,1,7.00,0.50,0.5,1.65,0.00,0.3,9.95,NaN,NaN,400.0
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1.0,2.60,1.0,N,239,246,1,14.00,0.50,0.5,1.00,0.00,0.3,16.30,NaN,NaN,1152.0
7,1,2019-01-01 00:21:28,2019-01-01 00:28:37,1.0,1.30,1.0,N,163,229,1,6.50,0.50,0.5,1.25,0.00,0.3,9.05,NaN,NaN,429.0
8,1,2019-01-01 00:32:01,2019-01-01 00:45:39,1.0,3.70,1.0,N,229,7,1,13.50,0.50,0.5,3.70,0.00,0.3,18.50,NaN,NaN,818.0
9,1,2019-01-01 00:57:32,2019-01-01 01:09:32,2.0,2.10,1.0,N,141,234,1,10.00,0.50,0.5,1.70,0.00,0.3,13.00,NaN,NaN,720.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7696612,2,2019-01-31 23:37:20,2019-02-01 00:10:43,NaN,10.24,NaN,None,142,95,0,0.00,2.75,0.0,0.00,5.76,0.3,0.00,NaN,NaN,2003.0
7696613,2,2019-01-31 23:28:00,2019-01-31 23:50:50,NaN,12.43,NaN,None,48,213,0,48.80,5.50,0.0,0.00,0.00,0.3,54.60,NaN,NaN,1370.0
7696614,2,2019-01-31 23:11:00,2019-01-31 23:46:00,NaN,9.14,NaN,None,159,246,0,51.05,2.75,0.5,0.00,0.00,0.3,54.60,NaN,NaN,2100.0
7696615,2,2019-01-31 23:03:00,2019-01-31 23:14:00,NaN,0.00,NaN,None,265,265,0,0.00,0.00,0.5,9.82,0.00,0.3,0.00,NaN,NaN,660.0
7696616,2,2019-01-31 23:41:03,2019-02-01 00:19:16,NaN,12.30,NaN,None,237,197,0,0.00,2.75,0.0,0.00,0.00,0.3,0.00,NaN,NaN,2293.0